@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');


@font-face{
	/*
	Other possible fonts:
		https://fonts.google.com/specimen/DM+Mono?preview.text_type=custom
	*/
	font-family:	"Carto";
	src:			url(C:/Windows/Fonts/Cartograph CF/CartographCF-Regular.otf) format('opentype');
}

/*
@font-face{
	font-family:		"Nunito";
	src:				url('https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet')
}
*/

:root
{
    --font-size-normal:              19px;
    --font-size-code:                16px;
    --font-size-side-dock:           16px;
    --font-size-side-dock-title:     18px;
    --font-size-status-bar:          16px;
    --font-size-h1:                  24px;
    --font-size-h2:                  23px;
    --font-size-h3:                  22px;
    --font-size-h4:                  21px;
    --font-size-h5:                  20px;
    --font-size-h6:                  19px;

  --background-primary: 			#F2F1F8;
  --background-secondary: 		#44475a;
  --background-accent: 			#f8f8f2;

  --text-title-h1:              #00b368;
  --text-title-h2:              #009456;
  --text-title-h3:              #9995b7;
  --text-title-h4:              #0095a8;
  --text-title-h5:              #00bdd6;
  --text-title-h6:              #0094f0;
  --inline-code:                #5842ff;
  --code-block:                 #ff5792;
  --pre-code:                   #e64100;
  --blockquote-border:          #b3694d;
  --vim-cursor:                 #d5971a;
  --border-color:               #f49725; /*also like transparent*/
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Nunito", Courier New, monospace;
}

/* Style the header */
.header {
	background-color: 			var(--background-primary);
	padding: 						20px;
	text-align:					center;
	font-size:					35px;
	width:							75%;
	float: 						right;
}
/* Sub-header for quick links */
.sub-header{
	font-size:					25px;
}
/* Image of self */
.img{
	width:						33.33%;
}


/* Clear floats after the columns */
.row:after {
	content: 			"";
	clear: 			both;
	
	margin-top: 		30px;
    display: 		grid;
    grid-auto-flow:	row;
    grid-template-columns: 	300px 300px 300px;
    grid-template-rows: 		325px 325px;
    grid-gap: 		2rem;
    justify-content: 			center;
    max-width: 		1000px;
    margin-left: 	auto;
    margin-right:	 auto;
}
/* Columns that list specific info - must be converted to flexboxes */
.column {
	font-family: 'DM Mono', monospace;
	/*flex:			1;*/
	height: 255px;
	padding: 25px;
	border-radius: 10px;
	text-align: left;
	/*border-top: 25px solid #5A5475;
	float: 		left;
	width: 		33.33%;*/
}

/* Style the footer */
.footer {
  background-color: 			var(--background-primary);
  padding: 						10px;
  text-align: 					center;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .column {
    width: 100%;
  }
}